openapi: 3.1.0
info:
  title: Data Quality Monitors
  description: Revefi's Public API Spec
  version: 1.0.1
servers:
- url: https://gateway.revefi.com/api/v1/
paths:
  /monitor:
    get:
      tags:
      - Get Custom Data Quality Monitors
      summary: Get Custom Data Quality Monitors by Ids
      description: Fetch existing custom Data Quality monitors in Revefi
      operationId: getMonitors
      security:
      - api_key: []
      parameters:
      - name: monitorIds[]
        in: query
        description: Ids of the monitors to fetch
        required: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: limit
        in: query
        description: Limit on the number of monitors to fetch
        schema:
          type: integer
          format: int32
          default: 10
          maximum: 50
          minimum: 1
      - name: offset
        in: query
        description: The number of monitors to skip before starting to collect the
          result set
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitorArray'
            application/xml:
              schema:
                $ref: '#/components/schemas/MonitorArray'
        '400':
          description: Validation exception
        '401':
          description: Invalid API access token
        '403':
          description: Insufficient permissions for the API call
        '429':
          description: Number of requests sent exceed the rate limit
    post:
      tags:
      - Create a Custom Data Quality Monitor
      summary: Create a Custom Data Quality Monitor
      description: Create custom Data Quality Monitor in Revefi
      operationId: createMonitor
      security:
      - api_key: []
      requestBody:
        description: Request body to create a new custom data quality monitor in Revefi
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Monitor'
          application/xml:
            schema:
              $ref: '#/components/schemas/Monitor'
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Monitor'
            application/xml:
              schema:
                $ref: '#/components/schemas/Monitor'
        '400':
          description: Validation exception
        '401':
          description: Invalid API access token
        '403':
          description: Insufficient permissions for the API call
        '429':
          description: Number of requests sent exceed the rate limit
    patch:
      tags:
      - Update an existing Custom Data Quality Monitor
      summary: Update an existing Custom Data Quality Monitor
      description: Update existing custom Data Quality Monitor in Revefi
      operationId: updateMonitor
      security:
      - api_key: []
      requestBody:
        description: Request body to update an existing data quality monitor
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonitorUpdate'
          application/xml:
            schema:
              $ref: '#/components/schemas/MonitorUpdate'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Monitor'
            application/xml:
              schema:
                $ref: '#/components/schemas/Monitor'
        '400':
          description: Validation exception
        '401':
          description: Invalid API access token
        '403':
          description: Insufficient permissions for the API call
        '429':
          description: Number of requests sent exceed the rate limit
    delete:
      tags:
      - Delete an existing Custom Data Quality Monitor
      summary: Delete an existing Custom Data Quality Monitor by Id
      description: Delete an existing custom Data Quality monitor from Revefi
      operationId: deleteMonitor
      security:
      - api_key: []
      parameters:
      - name: monitorId
        in: query
        description: Id of the monitor to be deleted
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Successful operation
        '400':
          description: Validation exception
        '401':
          description: Invalid API access token
        '403':
          description: Insufficient permissions for the API call
        '429':
          description: Number of requests sent exceed the rate limit
  /monitorByArtifact:
    get:
      tags:
      - Get Custom Data Quality Monitors by Artifact
      summary: Get Custom Data Quality Monitors by Artifact
      description: Fetch existing custom Data Quality monitors for a specific table
        in Revefi
      operationId: getMonitorByArtifact
      security:
      - api_key: []
      parameters:
      - name: databaseName
        in: query
        description: Name of the database for the table
        required: true
        schema:
          type: string
      - name: schemaName
        in: query
        description: Name of the schema for the table
        required: true
        schema:
          type: string
      - name: tableName
        in: query
        description: Name of the table
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: Limit on the number of monitors to fetch
        schema:
          type: integer
          format: int32
          default: 10
          maximum: 50
          minimum: 1
      - name: offset
        in: query
        description: The number of monitors to skip before starting to collect the
          result set
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitorArray'
            application/xml:
              schema:
                $ref: '#/components/schemas/MonitorArray'
        '400':
          description: Validation exception
        '401':
          description: Invalid API access token
        '403':
          description: Insufficient permissions for the API call
        '429':
          description: Number of requests sent exceed the rate limit
  /monitor/run:
    post:
      tags:
      - Run Monitors
      summary: Run Monitors for Artifacts
      description: Trigger runs for monitors associated with the specified artifacts.
        Rate-limited to 10 requests per hour.
      operationId: runMonitors
      security:
      - api_key: []
      requestBody:
        description: Request body specifying artifacts and optional monitor IDs to
          run
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunMonitorsRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/RunMonitorsRequest'
        required: true
      responses:
        '200':
          description: Successful operation
        '400':
          description: Validation exception
        '401':
          description: Invalid API access token
        '403':
          description: Insufficient permissions for the API call
        '404':
          description: Artifact not found in Revefi
        '429':
          description: Number of requests sent exceed the rate limit
components:
  schemas:
    CollectionFrequency:
      type: string
      description: How often should the data quality monitor be evaluated, use hourly
        for every hour or daily for every day. See [here](https://docs.revefi.com/docs/api-enumerations#collection-frequency)
        for more details.
      default: COLLECTION_FREQUENCY_DAILY
      enum:
      - COLLECTION_FREQUENCY_UNSPECIFIED
      - COLLECTION_FREQUENCY_HOURLY
      - COLLECTION_FREQUENCY_DAILY
      - COLLECTION_FREQUENCY_SPECIFIC
      - COLLECTION_FREQUENCY_ON_DATA_LOAD
      - COLLECTION_FREQUENCY_CRON
    SqlSpecName:
      type: string
      description: "The type of monitor to be created. See [here](https://docs.revefi.com/docs/api-enumerations#sqlspecname)\
        \ for more details. \nIf the specName is CUSTOM_SQL, the customSql field should\
        \ be provided in the monitor object.\nIf the specName is COLUMN_GROUP_UNIQUE,\
        \ the groupByColumnNames field should be provided in the monitor object.\n\
        If the specName is SQL_CHECK_TYPE_TABLE_LOAD_WITHIN_SLA or CUSTOM_SQL or COLUMN_GROUP_UNIQUE,\
        \ the columnName field should not be provided in the monitor object.\nIf the\
        \ specName is not CUSTOM_SQL or COLUMN_GROUP_UNIQUE or SQL_CHECK_TYPE_TABLE_LOAD_WITHIN_SLA,\
        \ the columnName field should be provided in the monitor object.\n"
      example: COLUMN_NULL_COUNT
      enum:
      - COLUMN_NULL_COUNT
      - COLUMN_DISTINCT_VALUE_COUNT
      - COLUMN_APPROX_DISTINCT_VALUE_COUNT
      - COLUMN_GROUP_UNIQUE
      - CUSTOM_SQL
      - SQL_CHECK_TYPE_TABLE_LOAD_WITHIN_SLA
    StaticThresholdComp:
      description: The type of comparison operation on the threshold value. See [here](https://docs.revefi.com/docs/api-enumerations#staticthresholdcomp)
        for more details.
      example: STATIC_THRESHOLD_COMP_LESS_THAN
      type: string
      enum:
      - STATIC_THRESHOLD_COMP_UNSPECIFIED
      - STATIC_THRESHOLD_COMP_LESS_THAN
      - STATIC_THRESHOLD_COMP_LESS_THAN_EQUAL_TO
      - STATIC_THRESHOLD_COMP_EQUAL_TO
      - STATIC_THRESHOLD_COMP_GREATER_THAN
      - STATIC_THRESHOLD_COMP_GREATER_THAN_EQUAL_TO
      - STATIC_THRESHOLD_COMP_BETWEEN
    StaticThresholdValueType:
      description: The type of the threshold metric. See [here](https://docs.revefi.com/docs/api-enumerations#staticthresholdvaluetype)
        for more details.
      example: STATIC_THRESHOLD_VALUE_TYPE_NUMERIC
      type: string
      enum:
      - STATIC_THRESHOLD_VALUE_TYPE_UNSPECIFIED
      - STATIC_THRESHOLD_VALUE_TYPE_NUMERIC
      - STATIC_THRESHOLD_VALUE_TYPE_PERCENT_LAST_VALUE
      - STATIC_THRESHOLD_VALUE_TYPE_PERCENT_AVERAGE
      - STATIC_THRESHOLD_VALUE_TYPE_TIMES_STANDARD_DEVIATION
    SqlMetricEvaluationType:
      type: string
      description: The type of evaluation for data quality monitor. When automatic
        anomaly detection is selected, Revefi will automatically identify the correct
        thresholds for your data quality monitor. Otherwise, static thresholds need
        to be provided. See [here](https://docs.revefi.com/docs/api-enumerations#sqlmetricevaluationtype)
        for more details.
      default: SQL_METRIC_EVALUATION_TYPE_AUTOMATIC_ANOMALY_DETECTION
      enum:
      - SQL_METRIC_EVALUATION_TYPE_UNSPECIFIED
      - SQL_METRIC_EVALUATION_TYPE_STATIC_THRESHOLD
      - SQL_METRIC_EVALUATION_TYPE_AUTOMATIC_ANOMALY_DETECTION
    Artifact:
      type: object
      properties:
        databaseName:
          type: string
          description: Name of the database for the table on which data quality monitor
            needs to be added
          required: true
        schemaName:
          type: string
          description: Name of the schema for the table on which data quality monitor
            needs to be added
          required: true
        tableName:
          type: string
          description: Name of the table on which data quality monitor needs to be
            added
          required: true
    MonitorMetric:
      type: object
      properties:
        sqlMetric:
          type: object
          description: The sql metric for the data quality monitor
          $ref: '#/components/schemas/SqlMonitorInstance'
          required: true
    SqlMonitorInstance:
      type: object
      properties:
        specName:
          $ref: '#/components/schemas/SqlSpecName'
          required: true
        userSpecifiedName:
          type: string
          description: Unique name for the data quality monitor
          required: true
        userSpecifiedDescription:
          type: string
          description: Description for the data quality monitor
        customSql:
          type: string
          description: Custom sql query for the data quality monitor, only applicable
            if specName is CUSTOM_SQL. The query should return a single numeric value
            otherwise the monitor creation will fail.
        columnName:
          type: string
          description: The column name for the data quality monitor, only applicable
            if specName is not CUSTOM_SQL or COLUMN_GROUP_UNIQUE
        groupByColumnNames:
          type: array
          items:
            type: string
          description: Array of column names to be used in group by clause, only applicable
            if the specName is COLUMN_GROUP_UNIQUE
        evaluationType:
          $ref: '#/components/schemas/SqlMetricEvaluationType'
          required: true
    StaticThreshold:
      type: object
      properties:
        comp:
          $ref: '#/components/schemas/StaticThresholdComp'
          required: true
        valueType:
          $ref: '#/components/schemas/StaticThresholdValueType'
          required: true
        firstValue:
          type: integer
          format: int64
          example: 10
          required: true
          description: The threshold value for data quality monitor, also the lower
            limit of range for STATIC_THRESHOLD_COMP_BETWEEN type data quality monitor
        secondValue:
          type: integer
          format: int64
          example: 10
          description: The upper limit of range for data quality monitor threshold,
            applicable only if comp is STATIC_THRESHOLD_COMP_BETWEEN
    MonitorArray:
      type: object
      properties:
        monitors:
          type: array
          items:
            $ref: '#/components/schemas/MonitorObject'
    MonitorObject:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 10
          description: Id of the data quality monitor (should be null for create monitor
            requests)
          default: null
        artifact:
          type: object
          description: The table for the data quality monitor
          $ref: '#/components/schemas/Artifact'
          required: true
        dataSourceId:
          type: integer
          format: int64
          example: 7
          required: true
          description: Data Source Id of the Revefi connection on which this data
            quality monitor will be added. Can be obtained by going to Revefi(app.revefi.com)
            and looking for dsId in the URL
        collectionFrequency:
          $ref: '#/components/schemas/CollectionFrequency'
          required: true
        metric:
          type: object
          description: The details of the metric for data quality monitor
          $ref: '#/components/schemas/MonitorMetric'
          required: true
        staticThresholdsList:
          type: array
          description: The threshold values for the metric for data quality monitor
          items:
            $ref: '#/components/schemas/StaticThreshold'
        applyOrLogic:
          type: boolean
          example: false
          default: false
          description: If the static thresholds should be applied with OR logic, default
            is to use AND logic
        collectionFrequencySpecificTimesList:
          type: array
          description: List of specific times of day for data collection, applicable
            only when collectionFrequency is COLLECTION_FREQUENCY_SPECIFIC
          items:
            $ref: '#/components/schemas/TimeOfDay'
      xml:
        name: monitor
    TimeOfDay:
      type: object
      properties:
        hours:
          type: integer
          format: int32
          description: Hour of day (0-23) at which data collection should occur, applicable
            when collectionFrequency is COLLECTION_FREQUENCY_SPECIFIC
    Monitor:
      type: object
      properties:
        monitor:
          $ref: '#/components/schemas/MonitorObject'
          required: true
    MonitorUpdate:
      type: object
      properties:
        monitor:
          $ref: '#/components/schemas/MonitorUpdateObject'
          required: true
    MonitorUpdateObject:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 10
          description: Id of the data quality monitor to be updated
          required: true
        collectionFrequency:
          $ref: '#/components/schemas/CollectionFrequency'
        staticThresholdsList:
          type: array
          description: The threshold values for the metric for data quality monitor.
            Setting this will replace existing thresholds
          items:
            $ref: '#/components/schemas/StaticThreshold'
        applyOrLogic:
          type: boolean
          example: false
          description: If the static thresholds should be applied with OR logic, default
            is to use AND logic
        collectionFrequencySpecificTimesList:
          type: array
          description: List of specific times of day for data collection, applicable
            only when collectionFrequency is COLLECTION_FREQUENCY_SPECIFIC
          items:
            $ref: '#/components/schemas/TimeOfDay'
      xml:
        name: monitorUpdateObject
    RunMonitorsRequest:
      type: object
      properties:
        dataSourceId:
          type: integer
          format: int64
          example: 7
          required: true
          description: Data Source Id of the Revefi connection. Can be obtained by
            going to Revefi (app.revefi.com) and looking for dsId in the URL
        artifacts:
          type: array
          description: List of tables to run monitors for. Maximum of 10 artifacts.
          required: true
          maxItems: 10
          minItems: 1
          items:
            $ref: '#/components/schemas/Artifact'
        monitorIds:
          type: array
          description: Optional list of monitor IDs to run. If not provided, all monitors
            for the given artifacts will be run.
          items:
            type: integer
            format: int64
        backfill:
          type: boolean
          example: false
          default: false
          description: Optional flag to backfill historical data
        dryRun:
          type: boolean
          example: false
          default: false
          description: Optional flag to run monitors in dry-run mode without persisting
            results
      xml:
        name: runMonitorsRequest
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: Authorization
      x-bearer-format: bearer
x-readme:
  explorer-enabled: true
  proxy-enabled: true
